.services__container{
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 1.875rem;
}

.services__card{
    text-align: center;   
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all .3s ease-in-out;
}

.services__card:hover{
    transform: translateY(-10px);
}

.services__card:nth-child(1){
    background: rgb(34,37,64);
    background: linear-gradient(0deg, rgba(34,37,64,1) 0%, rgba(241,241,241,0) 100%);
}

.services__card:nth-child(2){
    background: rgb(34,37,64);
    background: linear-gradient(0deg, rgba(34,37,64,1) 0%, rgba(241,241,241,0) 100%);
}

.services__card:nth-child(3){
    background: rgb(34,37,64);
    background: linear-gradient(0deg, rgba(34,37,64,1) 0%, rgba(241,241,241,0) 100%);
}

.services__img{
    margin-bottom: 1.25rem;
}

.services__title{
    font-size:var(--h3-font-size) ;
    margin-bottom: 1rem;
    color:#fff;
}

.services__description{
    color: var(--texto-color );
}


.services__card:nth-child(2) .services__title{
    color: white;
}

.services__card:nth-child(2) .services__description{
    color:var(--texto-color)
}


@media screen and (max-width:1024px){
    .services__container{
        grid-template-columns: repeat( 2 , 330px);
        justify-content: center;
        row-gap: 1.875rem;
        column-gap: 1.875rem;
    }
}

@media screen and (max-width:768px){
    .services__container{
        grid-template-columns: 310px;
        justify-content: center;
        row-gap: 1.875;
    }
}


@media screen and (max-width:350px){
    .services__container{
        grid-template-columns: 1fr;        
    }
}